<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjj.music.dao.AdminDao">

    <resultMap id="BaseMap" type="com.pjj.music.pojo.Admin">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result jdbcType="VARCHAR" column="name" property="name"></result>
        <result jdbcType="VARCHAR" column="password" property="password"></result>
    </resultMap>

    <select id="checkAdmin" resultType="java.lang.Integer">
        select count(*) from admin where name=#{username} and password=#{password}
    </select>
</mapper>